@page
@model CIDM_3312___Final_Project.Pages.WildfireAdvisories.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WildfireAdvisory[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WildfireAdvisory[0].IssueDateAndTime)
            </th>
            <th>Region</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.WildfireAdvisory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueDateAndTime)
            </td>
            <td>
            @foreach (var region in item.RegionWildfireAdvisories!)
            {
                @region.Region.Name <br>
            }
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.WildfireAdvisoryId">Details</a> |
                <a asp-page="./Edit" asp-route-id="@item.WildfireAdvisoryId">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.WildfireAdvisoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<hr/>
@{
    var prevDisabled = "";
    if (Model.PageNum <=1)
    {
        prevDisabled = "disabled";
    }
}
@{
    var nextDisabled = "";
    if (Model.PageNum >= Model.PageMax)
    {
        nextDisabled = "disabled";
    }
}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <!-- FIXME: These buttons will forget your current sort order! -->
        <li class="page-item @prevDisabled"><a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum - 1)">Previous</a></li>
        <li class="page-item @nextDisabled"><a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum + 1)">Next</a></li>
    </ul>
</nav>
